.modalAgregar{
    border: solid red 3px;
    position: fixed;
    top: 1%;
    left: 0;
    height: 98%;
    background-color: rgba(217, 217, 30, 0.7);
    /* transition: 1s; */
    transform:translateY(-150%) ;
    visibility: hidden;
}

.modalOpen{
    transform: translateY(0%);
}

.modalActualizar{
    border: solid red 3px;
    position: fixed;
    top: 1%;
    left: 0;
    height: 98%;
    background-color: rgba(109, 230, 61, 0.7);
    /* transition: 1s; */
    transform:translateY(-150%) ;
    visibility: hidden;
}

.modalOpen2{
    transform: translateY(0%);
}

/* LA PARTE SUPERRIOR SON ESTLOS PARA DISENAR LOS MODALES */



/* ESTILO PARA DIV DEL FORMULARIO */
.modalRegistros{
    display: flex;
    margin: 50px auto;
}

.tituloModal{
    text-align: center;
    font-size: 30px;
    padding: 20px;
}


.camposModal{
    width: 50%;
    padding-left: 200px;
}

.nombreCampo{
    font-size: 30px;
    margin: 16px;
    text-align: left;
}

.datoCampo{
    display: block;
    height: 40px;
    margin: 10px;
}



/* STILOS PARA DISENO DEL AREA DE BOTONES */
.modalBotones{
    display: flex;
    width: 50%;
    margin: auto;
    border:  solid red 3px;
}

.btnModal{
    width: 50%;
    height: 50px;
    font-size: 30px;
    padding: 5px;
    margin: 10px;
    border: solid red 4px;
}
.btnAgregarModal{
    background-color: greenyellow;
}

