.modalAgregar{
    color: red;
    border: solid red 3px;
    position: fixed;
    top: 1%;
    left: 0;
    height: 98%;
    background-color: rgba(217, 217, 30, 0.7);
    /* transition: 1s; */
    transform:translateY(-150%) ;
    visibility: hidden;
}

.modalOpen{
    transform: translateY(0%);
}

.modalActualizar{
    color: red;
    border: solid red 3px;
    position: fixed;
    top: 1%;
    left: 0;
    height: 98%;
    background-color: rgba(109, 230, 61, 0.7);
    /* transition: 1s; */
    transform:translateY(-150%) ;
    visibility: hidden;
}

.modalOpen2{
    transform: translateY(0%);
}

