
.mRegistro{
    width: 1100px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    border-bottom: 2px gray solid;
}
