.panelUsuario{
    width: 98%;
    /* border: solid 3px yellow; */
    margin: auto;
}

/*AGREGANDO STILOS A LA BARRA DE MENU */
.menu{
    background-color: rgb(51, 63, 80);
    position: fixed;
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 95%;
    bottom: 2.5%;
    left: 1%;
}

.btnMenu{
    margin:15px;
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 40px auto;
    background-color: blueviolet;
}

.salir{
    background-color: rgb(252, 74, 74);
    text-align: center;
}


/* AREA PRINCIPAL DONDE SE VEN LOS REGISTROS */
.registros{
    width: 76%;
    margin-left: 24%;
}

/* PARTE SUPERIOR SE ENCUENTRA EL MENU */

/* ENCABEZADOS Y RESTRO DEL REGISTRO */

.encabezado{
    /* background-color: aqua;    */
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nombreLista{
    font-size: 40px;
}

.btnAgregar{
    background-color: rgb(103, 249, 103);
    font-size: 40px;
    height: 50px;
}



/* CSS PAA TITULO REGISTROS */

.zonaRegistros{
    display: flex;
    flex-direction: column;
}


.campoRegistros{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-bottom: solid 3px rgb(87, 87, 108);
}

.datosRegistros{
    width: 80%;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px,120px));

    /* display: flex;
    justify-content: space-around;
    border: solid greenyellow 2px; */

}


.acciones{
    width: 20%;
}

/* ESTULOS PARA MODIFICAR */
.accionesFila{
    width: 20%;
    display: flex;
    border-left: solid 3px rgb(87, 87, 108);
}

.btnAcciones{
    color: white;
    font-size: 15px;
    height: 20px;
    width: 50%;
}

.btnAct{
    background-color: rgb(108, 216, 79);
}

.btnDes{
    background-color: rgb(219, 69, 69);
}

.opcMenu{
    /* border: solid yellow 3px; */
    text-align: left;
    background-color: none;
}

p{
    /* background-color: blueviolet; */
    text-align: center;
}






