.panelUsuario{
    width: 95%;
    border: solid 3px yellow;
    margin: auto;
}

/*AGREGANDO STILOS A LA BARRA DE MENU */
.menu{
    background-color: rgb(51, 63, 80);
    position: fixed;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 95%;
    bottom: 2.5%;
    left: 2.5%;
}

.btnMenu{
    margin:15px;
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 40px auto;
}

.salir{
    background-color: rgb(252, 74, 74);
    text-align: center;
}


/* AREA PRINCIPAL DONDE SE VEN LOS REGISTROS */
.registros{
    width: 70%;
    margin-left: 30%;
}

/* PARTE SUPERIOR SE ENCUENTRA EL MENU */

/* ENCABEZADOS Y RESTRO DEL REGISTRO */

.encabezado{
    background-color: aqua;   
    display: flex;
    justify-content: space-between;
}

.nombreLista{
    font-size: 40px;
}

.btnAgregar{
    background-color: rgb(103, 249, 103);
    font-size: 40px;
    height: 50px;
}



/* CSS PAA TITULO REGISTROS */

.campoRegistros{
    display: flex;
    justify-content: space-between;
}

.datosRegistros{
    width: 80%;
    display: flex;
    justify-content: space-around;
    border: solid greenyellow 2px;
    
}

.acciones{
    width: 20%;
}

/* ESTULOS PARA MODIFICAR */
.accionesFila{
    width: 20%;
    display: flex;
}

.btnAcciones{
    color: white;
    font-size: 12px;
    height: 30px;
}

.btnAct{
    background-color: rgb(108, 216, 79);
}

.btnDes{
    background-color: rgb(219, 69, 69);
}










